*,
*:before,
*:after {
	-moz-box-sizing: border-box;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
}
body{
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

header{
    text-align: center;
    width: 100%;
    min-height: 60px;
    background-color: #FFFFFF;
}

h1{
    margin: auto;
    font-weight: bold;
    color: #0D090C;
}

h2, p{
    color: #0D090C;
}

span{
    color: #EAEAEA;
}

.container{
    width: 100%;
    height: 100%;
    padding: 25px 20px;
    background-color: #EAEAEA;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.card-container{
    background-color: #FFFFFF;
    min-width: 40%;
    max-width: 480px; 
    margin: 25px 0;
    
}

.card-header{
    width: 100%;
    height: 50px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    border-bottom: #EAEAEA 1px solid;
}

.card-image-container{
    width: 100%;
    margin: 3px 0;
}

img{
    width: 100%;
    object-fit: cover;
}

.card-footer{
    width: 100%;
    height: 15%;
    padding: 10px;
    border-top: #EAEAEA 1px solid;
}

